.home {
  background-color: #0e1d33;
  height: 100%;
  width: 100%;
  
}
.home-content{
border: 1px solid white;
padding-top: 10%;
}

.images {
  padding-top: 20%;
}
.imagess{
    height: 70vh;
    width: 100;
}