<div class="nav-page uk-align-left">
  <div class="uk-card uk-card-default uk-card-body">
    <div uk-grid>
      <div>
        <p><small>Section</small></p>
        <br>
      </div>
      <div>
        <p><small>Extra</small></p>
      </div>
      <div></div>
    </div>
    <div class="header">
      <h2 class="display-4">
        Belinda<br>
        Christelle
      </h2>
    </div>
    <div class="buttons">

    </div>
    <div class="footer">
      <div class="footer-content">
        <h5 class="text-light" style="margin-bottom: 0%">Nigeria Lagos</h5>
        <h4 class="text-light" style="margin-top: 0%">Model</h4>
      </div>
    </div>
  </div>
</div>
