<div class="uk-grid-item-match push">
  <div class="uk-card uk-card-default uk-card-body container">
    <div uk-grid>
      <div>
        <p class="text-dark">Section</p>
      </div>
      <div>
        <p class="text-dark">Extra</p>
      </div>
    </div>
    <br>
    <div uk-grid>
      <div>
        <h3 class="display-4">Belinda
          <br>
          Christelle</h3>
      </div>
      <div>
        <!-- <p class="text-dark uk-align-left">model</p> -->
      </div>
    </div>
    <!-- <p class="ig">Instagram</p> -->
    <br>
    <br>
    <br>
    <!-- <button class="btn btn-sm button">I/VI</button> -->
    <div uk-grid>
      <div>
        <button (click)="change()" class="btn btn-sm button">I/VII</button>
      </div>
      <div>
        <button (click)="change()" class="btn btn-sm button">I/VIII</button>
      </div>
      <div>
        <button class="btn btn-sm button">I/VIV</button>
      </div>
      <div>
        <button class="btn btn-sm button">V</button>
      </div>
    </div>
    <p class="line"></p>

  </div>
  <div class="footer bg-dark">
    <p class="text-light uk-text-center">Nigeria Lagos</p>
    <p class="text-light uk-text-center">Model</p>
  </div>
</div>
